#!/bin/bash

APP_WORKSPACE={{ remote_app_path }}
MODULE_NAME={{ module_name }}
PORT=8080

SPRING_PROFILE={{ spring_profile }}

STD_OUT=${APP_WORKSPACE}/logs/stdout_${PORT}.log
STD_ERR=${APP_WORKSPACE}/logs/stderr_${PORT}.log

echo "## move to application workspace"
cd ${APP_WORKSPACE} || exit 1

echo "## kill current running application"
CURRENT_PID=$(pgrep -f "${MODULE_NAME}")

if [ -z "${CURRENT_PID}" ];
then
  echo "no current running application >> pass killing process"
else
  echo "kill -TERM CURRENT_PID"
  kill -TERM "${CURRENT_PID}"
  sleep 2
fi

echo "## run java application"
java --version
if [ $? -ne 0 ];
then
  echo "no JRE setup > JRE is required!!"
  exit 1
fi

nohup java -jar \
  -Dspring.profiles.active="${SPRING_PROFILE}" \
  ${APP_WORKSPACE}/${MODULE_NAME}.jar 1>${STD_OUT} 2>${STD_ERR} &

echo "## run application completed!!"
