---
- name: Check JAR file exists
  block:
    - name: Register JAR file
      ansible.builtin.stat:
        path: "{{ remote_deploy_path }}/{{ module_name }}.jar"
      register: jar_file

    - name: Fail and print message
      ansible.builtin.fail:
        msg: "{{ module_name }}.jar does not exist"
      when: not jar_file.stat.exists

    - name: Print success message
      ansible.builtin.debug:
        msg: "{{ module_name }}.jar exists!!"
  tags:
    - init
    - deploy

- name: Copy JAR file for running application
  ansible.builtin.copy:
    src: "{{ remote_deploy_path }}/{{ module_name }}.jar"
    remote_src: yes
    dest: "{{ remote_app_path }}/{{ module_name }}.jar"
    owner: "{{ remote_server_user }}"
    group: "{{ remote_server_group }}"
    mode: 0644
  tags:
    - init
    - deploy

- name: Remove deployed JAR file
  ansible.builtin.file:
    state: absent
    path: "{{ remote_deploy_path }}/{{ module_name }}.jar"
  tags:
    - init
    - deploy

- name: "[Rolling Update] Run all tasks"
  ansible.builtin.include_tasks:
    file: rolling_update/main.yml
    apply:
      tags:
        - rolling_update
  tags:
    - rolling_update

- name: "[Blue Green] Run all tasks"
  ansible.builtin.include_tasks:
    file: blue_green/main.yml
  tags:
    - blue_green

- name: Finish
  ansible.builtin.debug:
    msg: "All tasks completed!!"
  tags:
    - init
    - deploy
