<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Pattern -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%5level) [%15.15t] [%X{request_id}] %clr(%-40.40logger{39}){cyan} : %m%n%wEx"/>
    <!-- Request Thread Console Appender -->
    <appender name="THREAD_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger additivity="false" level="INFO" name="io.beaniejoy.dongnecafe">
        <appender-ref ref="THREAD_CONSOLE"/>
    </logger>

    <!-- Bootstrap class file -->
    <logger additivity="false" level="INFO" name="io.beaniejoy.dongnecafe.ServiceApiApplicationKt">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Hikari Connection Pool Setting -->
    <logger additivity="false" level="DEBUG" name="com.zaxxer.hikari.HikariConfig">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <springProfile name="local">
        <logger additivity="false" level="DEBUG" name="com.zaxxer.hikari.pool.HikariPool">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>